<footer class="bg-light py-3" style="margin: 30px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>About Furama Resort</h4>
                <p>Furama Resort is a luxurious beachfront resort located in Da Nang, Vietnam. We offer world-class amenities and services for our guests, including restaurants, bars, spa, and more.</p>
            </div>
            <div class="col-md-6">
                <h4>Contact Us</h4>
                <p>Address: 68 Ho Xuan Huong, Da Nang, Vietnam</p>
                <p>Phone: +84 236 651 9999</p>
                <p>Email: info@furama.com</p>
            </div>
        </div>
    </div>
</footer>